{% extends 'shop/base.html' %}
{% block title %}
  Shopping|Online Shopping
{% endblock title %}

{% block content %}
<section class="bg-light py-4 my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3 text-center">{{category_name}} Product</h4>
                <hr style="border-color:#b8bfc2;">
                {% include 'shop/message.html' %}
            </div>
            {% for item in products %}
            <div class="col-md-4 col-lg-4">
                <div class="card my-3">
                    <img style="height: 250px;" src="{{item.pro_image.url}}" class="card-img-top" alt="Products">
                    <a href="{% url 'product_details' category_name item.name %}">
                        <div class="card-body">
                            <h5 class="card-title text-primary">{{item.name}}</h5>
                            <p class="card-text">
                                <span  class="fload-start old_price"><s>TK.{{item.original_price |stringformat:'d'}}</s></span>
                                <span class="fload-end new_price">TK.{{item.selling_price |stringformat:'d'}}</span>
                            </p>
                        </div>
                    </a>
                  </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}